
<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h2>Car list</h2>
<table class="table-fixed" style="width: 20%;">
    <thead>
    <tr>
        <th align="left">Color</th>
        <th align="left">Model</th>
        <th align="left">Series</th>
    </tr>
    </thead>
    <!--tbody style="height: 200px; overflow: auto;"-->
    <tr width="30" th:each="car : ${carList}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td th:text="${car.getSeries()}"></td>
    </tr>
</table>
</body>
</html>